@{
    ViewBag.Title = "O firmie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h1 style="color: #f35600">O firmie</h1>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="font-size: 15px; color: #61656A;">
                <p>
                    Apteki Bemini obecne są na polskim rynku od 1990 roku - to właśnie wtedy powstała nasza pierwsza placówka w Wejherowie. Dziś pod marką Bemini działa 111 aptek stacjonarnych zlokalizowanych na terenie całego kraju. Od kilkunastu lat prowadzimy również wygodną dla naszych pacjentów aptekę internetową www.bemini.pl dostępną przez 24 godziny na dobę.
                </p>
                <br/>
                <p>
                    Staramy się być jak najbliżej pacjentów, również dosłownie - Apteki Bemini zlokalizowane są w centrach dużych osiedli i na głównych ulicach miast. Dostarczanie usług farmaceutycznych i realizowanie potrzeb pacjentów na najwyższym poziomie od zawsze jest naszym nadrzędnym celem. W praktyce oznacza to najszerszy wybór leków i innych produktów dostępnych „od ręki” i możliwie najniższe ceny na rynku. Pacjenci w Aptekach Bemini mogą zawsze liczyć na przyjazne podejście, zrozumienie i mądrą, fachową poradę naszych farmaceutów.
                </p>

            </div>
        </div>
    </div>
</div>