
@{
    ViewBag.Title = "Dostawa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <h1 style="color: #f35600">Dostawa</h1>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="font-size: 15px; color: #61656A;">
                <p>
                    <h4><strong>Oferujemy następujące opcje dostawy:</strong></h4>  
                </p>
                <br/>
                <p>
                    <strong>Dostawa do domu</strong>
                </p>
                <br />
                <p>Dostawa za pomocą kuriera DHL, koszt 15,00zł</p>
                <p>Koszt wysyłki poza granice kraju do ustalenia indywidualnie poprzez infolinie</p>
                <br />
                <p>Poczta Polska - paczka polecona, koszt 10,00zł</p>
                <p>Poczta Polska - paczka ekonomiczna, koszt 10,00zł</p>
                <br />
                <p>Bardzo zachęcamy do wyboru kuriera lub paczki poleconej ze względu na ich ubezpieczenie oraz możliwość śledzenia!</p>
                <br />
                <p><strong>Odbiór osobisty</strong></p>
                <p>ul. Szwedzka 1/3, Wrocław 54-401</p>
                <p>Przed odbiorem należy sprawdzić czy paczka jest gotowa do odbioru!</p>


            </div>
        </div>
    </div>

</div>