
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <h1 style="color: #f35600">Kontakt</h1>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="font-size: 15px; color: #61656A;">
                <p>
                    <strong>Apteka Bemini centrala</strong>  
                </p>
                <br />
                <p>ul. Szwedzka 1/3 Wrocław - Muchobór Mały</p>
                <p>czynna w godzinach od 7:00 - 18:00 każdego dnia z wyjątkiem świąt</p>
                <br/>
                <p><strong>Biuro Obsługi Klienta</strong></p>
                <p>Tel.: (+48) 58 600-80-88* poniedziałek - piątek 7:00-20:00, sobota 7:00-18:00, niedziela 9:00-16:00</p>
                <br/>
                <p>Email: apteka@bemini.pl</p>
                <br/>
                <p><strong>Dział reklamacji</strong></p>
                <p>Tel.: (+48) 58 600-80-88* poniedziałek - piątek 7:00-20:00 oraz w soboty w godz.: 7:00-14:00</p>
                   

            </div>
        </div>
    </div>

</div>
