
@{
    ViewBag.Title = "Regulamin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <h1 style="color: #f35600">Regulamin</h1>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="font-size: 15px; color: #61656A;">
                <p><strong>§ 2 POSTANOWIENIA OGÓLNE I OFERTA</strong></p> 
                <p>
                1. Apteka świadczy drogą elektroniczną, za pośrednictwem Portalu, usługi związane
                z wysyłkową sprzedażą towarów, w tym produktów leczniczych wydawanych bez przepisu lekarza.</p>
                <p>2. Złożenie zamówienia na towary oferowane przez Aptekę oraz realizacja zamówień złożonych za pośrednictwem Portalu odbywa się na podstawie niniejszego Regulaminu
                w treści obowiązującej na dzień złożenia zamówienia oraz powszechnie obowiązujących przepisów prawa. Apteka informuje, że do wysyłkowej sprzedaży produktów leczniczych nie stosuje się przepisów ustawy z dnia 30 maja 2014 r. o prawach konsumenta
                (Dz. U. poz. 827), zgodnie z art. 3 ust. 1 pkt 7 tej ustawy.</p>
                <p>3. Wszystkie towary oferowane przez Aptekę są fabrycznie nowe, wolne od wad fizycznych
                    i prawnych oraz znajdują się w legalnym obrocie na terenie Rzeczpospolitej Polskiej
                    na podstawie stosownych przepisów prawa lub decyzji właściwych władz administracyjnych.</p> 
                <p>4. Wszystkie towary zostały nabyte od uprawnionych podmiotów zgodnie z obowiązującym prawem i są przechowywane w warunkach określonych odpowiednimi przepisami. Produkty w uszkodzonym opakowaniu, które są z tego tytułu przecenione, opatrzone są odpowiednią adnotacją w tym zakresie.</p>
                <p>5. Apteka prowadzi wyłącznie obrót detaliczny towarami.</p>
                <p>6. Apteka nie prowadzi wysyłkowej sprzedaży produktów leczniczych wydawanych
                z przepisu lekarza (na receptę).</p>
                <p>7. Niniejszy Regulamin, wszelkie prawa i obowiązki z niego wynikające, a także powstałe
                w trakcie realizacji zamówienia, podlegają prawu polskiemu.</p>
                <p>8. Wszystkie użyte na Portalu nazwy towarów, marek oraz znaki graficzne są własnością ich producentów, podmiotów odpowiedzialnych lub innych osób uprawnionych.</p>
                <p>9. Zamówione w Aptece towary dostarczane są na zasadach wskazanych na Portalu
                w zakładce „Dostawa” oraz w niniejszym Regulaminie.</p>
                
            </div>
        </div>
    </div>

</div>