
@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 style="color: #f35600">Opinie</h1>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="font-size: 15px; color: #61656A;">
                <p>
                    <h4><strong>Tak inni klienci wyrażają się o nas:</strong></h4>
                </p>
                <br/>
                <p>
                    <strong>Janek Kowalski</strong>
                </p>
                
                <p>Dostawa ekspresowa, ogromny wybór i dobre ceny, wrócę tu nie raz</p>
                <br />
                <p>
                    <strong>Anna Nowak</strong>
                </p>
                
                <p>Mają tutaj świetne kremy oraz artykuły dla dzieci, do tego w korzystych cenach, polecam !!!</p>
                <p>
                    <br/>
                    <strong>Dariusz Kempa</strong>
                </p>
                
                <p>Takich cen to nie ma nigdzie, mega apteka !</p>

            </div>
        </div>
    </div>
</div>